﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  Fishhawk Lake</title>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("LineGraph", required: false)
    @RenderSection("Scatterplot", required: false)
    @RenderSection("Gauge", required: false)

    @RenderSection("Graphs", required: false)
    @RenderSection("DatePickerScripts", required: false)

    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="backgroundcolor">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/About">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/Dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/Weather/Weather">Weather</a></li>
                <li class="nav-item"><a class="nav-link" href="/Alerts/Dashboard">Alert Center</a></li>
                <li class="nav-item"><a class="nav-link" href="/Alerts/AlertLog">Alert Log</a></li>
                <li class="nav-item"><a class="nav-link" href="/PostReqErrors/Index">Error Post Log</a></li>
                <li class="nav-item"><a class="nav-link" href="/Calibrations/Create">Calibration</a></li>

                <li class="nav-item"><a class="nav-link" href="/Export/Export">Export</a></li>
                <li class="nav-item"><a class="nav-link" href="/Role/Index">Role</a></li>

            </ul>
            <ul class="navbar-nav">
                @Html.Partial("_LoginPartial")
            </ul>




        </div>
    </nav>
    <!--
    <div class="sidenav">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>-->

    <div class="container body-content">
        <header class="w3-container w3-center w3-padding-32">

            <img src="../../img/SmokeySky.jpg" alt="SmokeySky" class="headpic" style="max-width: 100%;">

        </header>
        @RenderBody()


    </div>
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/notf.js"></script>

</body>
</html>