﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
 
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <!-- <li class="nav-item"><a class="nav-link" href="/Account/Register">Register</a></li>-->
    <li class="nav-item"><a class="nav-link" href="/Account/Login">Login</a></li>
</ul>
}
