﻿@model FishhawkLake.Models.AspNetUser
    

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>AspNetUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)   |
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<p>

    @Html.ActionLink("Security", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) |
    @Html.ActionLink("Home", "Index", "Home") |

    <br />
    @Html.ActionLink("Manager's Account", "Index", "AspNetUsers")
    <!--@Html.ActionLink("Manager's Account", "AddUser", "Account")-->
</p>
