﻿@model FishhawkLake.Models.AlertSelectionModel



@{
    ViewBag.Title = "Alert Center";
}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<br />

<div class="row">

    <div class="col-md-6">

        @using (Html.BeginForm("Dashboard", "Alerts", FormMethod.Post))
        {

            <div class="alert alert-info" role="alert">
                <div class="row">
                    <a style="padding-top:.5em; padding-left: 3em">
                        <div class="row">
                            @Html.CheckBoxFor(m => m.AlertOn, new { @class = "form-check-input", id = "AlertOn" })

                        </div>
                    </a>
                    <a style="padding-top:.5em; padding-left: 1em">Alert is On/Off</a>
                </div>
            </div>

            <form>

                <label class="font-weight-bold">Notification Type</label>

                <div class="form-check">
                    @Html.CheckBoxFor(m => m.email, new { @class = "form-check-input", id = "email" })
                    <label class="control-label requiredField" for="email">Email</label>


                </div>
                <div class="form-check">

                    @Html.CheckBoxFor(m => m.text, new { @class = "form-check-input", id = "text" })
                    <label class="control-label requiredField" for="text">Text</label>

                </div>
                <div class="form-check">

                    @Html.CheckBoxFor(m => m.phone, new { @class = "form-check-input", id = "phone" })
                    <label class="control-label requiredField" for="phone">Phone Number</label>


                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" name="submit" type="submit">Update</button>
                    @ViewBag.checker
                </div>
            </form>


        }

    </div>
    <div class="col-md-6">
        <br />
        <label class="font-weight-bold">Contact Information</label>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Server Email: @ViewBag.fromEmail</li>
            <li class="list-group-item">User Email: @ViewBag.toEmail</li>
            <li class="list-group-item">ifttt Phone Trigger: @ViewBag.phoneTrigger</li>
            <li class="list-group-item">ifttt Text Trigger: @ViewBag.textTrigger</li>
        </ul>
        <br />
        <a class="btn btn btn-outline-primary btn-sm" href="../AlertUserContacts/Index" role="button">Add/Change Primary Alert Info</a>
    </div>
</div>




<div class="row">
    <div class="col-md-4">
        <label class="font-weight-bold">Current Threshold</label>
        <table class="table">
            <tr>
                <th>
                    Device ID:
                </th>
                <th>
                    Thresholds:
                </th>
                <th></th>
            </tr>


            <tr>
                <td>
                    PSI
                </td>
                <td>
                    @ViewBag.psi
                </td>
            </tr>
            <tr>
                <td>
                    Trub
                </td>
                <td>
                    @ViewBag.trub
                </td>
            </tr>
            <tr>
                <td>
                    Chlor
                </td>
                <td>
                    @ViewBag.chlor
                </td>
            </tr>

            <tr>
                <td>
                    <a class="btn btn btn-outline-primary btn-sm" href="../Thresholds/Index" role="button">Change Threshold</a>
                </td>

            </tr>


        </table>
        <br />


    </div>
    <div class="col-md-2">

    </div>
</div>