﻿@model IEnumerable<FishhawkLake.Models.AlertUserContact>

@{
    ViewBag.Title = "PrimaryAlertInfo";
}

<h2>Primary Alert Contact Info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Select)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Select)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AID })
        </td>
    </tr>
}

</table>
