﻿@model FishhawkLake.Models.OpenWeatherMap

<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>


<!--
<style>
    #apiDiv {
        padding-left: 20px;
    }

        #apiDiv select, #apiDiv button {
            font-size: 25px;
        }

        #apiDiv h4 {
            margin: 10px 0;
        }

        #apiDiv #message table {
            width: 100%;
            border: double 1px #fff; /*cyan*/
            background: #fff; /*bloody-eyes orange*/
        }

            #apiDiv #message table th {
                text-align: left;
                background: #fff; /*"Weather Discription"*/
            }
</style>
-->
<h1>Implement OpenWeatherMap API in ASP.NET MVC</h1>
<!--
@using (Html.BeginForm())
{<button id="reset" name="reset">Reset »</button>}
<div id="apiDiv">
    <h4>Select the City for Weather Report</h4>
    @using (Html.BeginForm())
    {
        foreach (var city in Model.cities)
        {
            <span>
                @Html.RadioButtonFor(m => m.cities, city.Value) @city.Key
            </span>
        }

        <button name="submit">Submit</button>
    }
    <div id="message">@(new HtmlString(Model.apiResponse))</div>
</div>
-->

@Styles.Render("~/Content/weather.css")<!--

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("input[id='cities']").change(function () {
            $(this).parents("#apiDiv").find
                ("span").css("background", "none");
            $(this).parent().css("background", "#4CAF50");
        });
    });
</script>
<div id="openweathermap-widget-5"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 5, cityid: '4707814', appid: '257b1e4458cc5181a4eb41e1a38d67ed', units: 'imperial', containerid: 'openweathermap-widget-5', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
--><div id="openweathermap-widget-22" class="centered"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 22, cityid: '4707814', appid: '257b1e4458cc5181a4eb41e1a38d67ed', units: 'imperial', containerid: 'openweathermap-widget-22', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
<!-- Weather Widget starts here - ->
<!-- Weather Widget starts here - ->
<div class="w3ls-weather">
    <div class="sunny">
        <h3>London</h3>
        <h4>17°c</h4>
        <canvas id="sunny" width="50" height="50"></canvas>
        <h5>June 30, 2018</h5>
        <p>Saturday</p>
    </div>
    <div class="cloudy">
        <div class="layer">
            <h3>London</h3>
            <h4>-6°c</h4>
            <canvas id="snow" width="50" height="50"></canvas>
            <h5>July 1, 2018</h5>
            <p>Sunday</p>
        </div>
    </div>
    <div class="rain">
        <h3>London</h3>
        <h4>44°c</h4>
        <canvas id="partly-cloudy-day" width="50" height="50"></canvas>
        <h5>July 2, 2018</h5>
        <p>Monday</p>
    </div>
    <div class="clear"></div>
</div>
    -->
