﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#alert").hide();
        });

    });
</script>

<script type="text/javascript">
    setTimeout(function () {
        location = ''
    }, 60000)
</script>

<div class="alert alert-warning" role="alert" style="display: @ViewBag.Display" id="alert">
    <div class="row">
        <a style="padding-top:.5em; padding-right: 3em">This is a warning alert. @ViewBag.DeviceId has crossed a threshold, its value is @ViewBag.Value </a>
        <div class=" ml-md-auto d-md-flex">
            <input type="submit" value="Dismiss" class="btn btn-default" id="hide" />
        </div>

    </div>
</div>
<h2>Sample Data from February 26, 2019</h2>

<br />

<h5>
    On this page we will display the current measurements for the Fishhawk Lake water treatment plant. As of now,
    we are displaying sample data from February 26, 2019.

</h5>

<br />
<br />

<div class="row">
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Psi</h5>
                <canvas id="PSI" class="dropDown"></canvas>
                
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#PSiPastData" id="button1">Past Data</button>
                <div id="PSiPastData" class="collapse">
                    <br />
                    <canvas id="PSI7"></canvas>
                    
                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Water Level</h5>
                <canvas id="WaterLevel"></canvas>
                <br />
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#WaterLevelPastData" id="button1">Past Data</button>
                <div id="WaterLevelPastData" class="collapse">
                    <br />
                    <canvas id="WaterLevel7"></canvas>

                </div>

            </div>

        </div>

    </div>

</div>

<br />
<br />

<div class="row">
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Turbidity</h5>
                <br />
                <canvas id="Turbidity"></canvas>
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#TurbidityPastData" id="button1">Past Data</button>
                <div id="TurbidityPastData" class="collapse">
                    <br />
                    <canvas id="Turbidity7"></canvas>

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Chlorine Level</h5>
                <br />
                <canvas id="Chlorine"></canvas>
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ChlorinePastData" id="button1">Past Data</button>
                <div id="ChlorinePastData" class="collapse">
                    <br />
                    <canvas id="Chlorine7"></canvas>

                </div>

            </div>

        </div>

    </div>

</div>

<br />
<br />

<div class="row">
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Systemic Leaks</h5>
                <br />
                TBA
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#LeaksPastData" id="button1">Past Data</button>
                <div id="LeaksPastData" class="collapse">
                    <br />
                    TBA

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Water Usage</h5>
                <br />
                TBA
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#WaterUsagePastData" id="button1">Past Data</button>
                <div id="WaterUsagePastData" class="collapse">
                    <br />
                    TBA

                </div>

            </div>

        </div>

    </div>

</div>

@section Graphs
{

    <script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    
    <script type="text/javascript" src="~/Scripts/LineGraph.js"></script>
    <!--script type="text/javascript" src="~/Scripts/Scatterplot.js"></script>
    <script type="text/javascript" src="~/Scripts/raphael-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/justgage.js"></script>
    <script type="text/javascript" src="~/Scripts/gaugeDisplay.js"></script-->
    <script type="text/javascript" src="~/Scripts/DropDown.js"></script>

}