﻿@model IEnumerable<FishhawkLake.Models.Device>
@{
    ViewBag.Title = "Devices";
}
<h2>Devices</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("turbidity", "Turbidity", "Home")
    @Html.ActionLink("psi", "Tank", "Home")
</div>