﻿@{
    ViewBag.Title = "Home Page";
}

<img class="background" src="../../img/PossibleDiscussionHubBackground-Bamboo.jpg" alt="HomeBackground">

<div class="row">
    <div class="center-block text-center centered">
        <!--<img src="../../img/LogoClear.png" style="max-width: 25%" />-->
        <h1> Water Systems Site</h1>
        <h2> A place to see your water data</h2>
        <!--<p><a class="btn btn-default" href="../Account/Login">Get Started </a></p>-->
    </div>
</div>
