@model IEnumerable<FishhawkLake.Models.Device>

<h2>Scatterplot Sample Data from February 26, 2019</h2>


<div style="width:75%;">
    @{
        List<FishhawkLake.Models.Device> items = new List<FishhawkLake.Models.Device>();
    }
    @foreach (var item in Model.ToList())
    {
        Console.WriteLine(item);
        items.Add(item);
    }
    <div onload="AJAX_Call('@items');"></div>
    <div id="ScatterPlot"></div>
</div>
<br>
<br>

@section Scatterplot
{
    <script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="@Url.Content("~/Scripts/Scatterplot.js")"></script>
}
