﻿@model IEnumerable<FishhawkLake.Models.Threshold>

@{
    ViewBag.Title = "Thresholds";
}
<br />
<h2>Thresholds</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Threshold
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Threshold1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
